body{
    margin: auto;
}
.main{
    background-image: url("./img/homepage-pingzhu-hero-bg-opt-v2.jpg");
    background-size: cover;
}

.header{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 1em 3em 1em 3em;
}

.logo img{
    width: 20em;
    height: auto;
    cursor: pointer;
}
.language{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.language img{
    width: 1em;
    height: auto;
}
.language p{
    padding: 0.5em;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content .heading{
    font-size: xxx-large;
    font-weight: bold;
}
.content .sub-heading{
    font-size: large;
    font-weight: bold;
}
.content .desc{
    font-size: smaller;
}
button{
    background-color: teal;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2em;
    padding: 1em 2em;
}

.section1{
    margin-top: 15%;
}

.section1 .box1{
    margin: auto;
    display: flex;
    align-items: flex-start;
    margin: 15% 15% 10% 15%;
}


.section1 .box1 .box1_img img{
    max-width: 100%;
}

.section1 .box1 .box1_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
}

.section1 .box1 .box1_content h1{
    font-size: xxx-large;
}

.section1 .box2{
    margin: auto;
    display: flex;
    align-items: flex-start;
    margin: 15% 15% 10% 15%;
}


.section1 .box2 .box2_img img{
    max-width: 100%;
}

.section1 .box2 .box2_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 15%;
}

.section1 .box2 .box2_content h1{
    font-size: xxx-large;
}



.section1 .box3{
    margin: auto;
    display: flex;
    align-items: flex-start;
    margin: 15% 15% 10% 15%;
}


.section1 .box3 .box3_img img{
    max-width: 100%;
}

.section1 .box3 .box3_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
}

.section1 .box3 .box3_content h1{
    font-size: xxx-large;
}

.section1 .box3 .box3_content button{
    margin-top: 5%;
}
.section1 .box3 .box3_content a{
    line-height: 1.75;
    color: teal;
}

.section2{
    display: flex;
    margin: auto;
    width: auto;
    text-align: center;
    width: 80%;
    align-content: center;
    justify-content: center;
}

.section2 .card{
    margin: auto;
    padding: 2.5%;
}

.section2 .card img{
    max-width: 100%;
}

.section2 .card h1{
    font-family: Arial, Helvetica, sans-serif;
}
.section2 .card p{
    font-family: Arial, Helvetica, sans-serif;
}

.link2{
    text-align: center;
    margin: 4% 0% 10% 0%;
}
.link2 a{
    color: teal;
    line-height: 1.75;
    font-size: large;
}

.footer{
    background-image: url("./img/map-server-home-dots.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 40em;
}

.footer h1{
    text-align: center;
    padding-top: 2%;
}

.footer .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 20%;
    margin: auto;
    float: right;
    margin-top: 5%;
}

.footer .info .numbers{
    font-size: xxx-large;
    margin: auto;
    font-weight: 600;
}
.footer .info .data{
    margin-top: auto;
}

.link3{
    text-align: center;
    margin: auto;
    width: fit-content;
    margin-top: 40%;
}
.link3 a{
    color: teal;
    line-height: 1.75;
    font-size: large;
}